    body {
        font-family: 'Roboto', sans-serif;
        background: #111;
    }
    
    .font-400 {
        font-weight: 400;
    }
    
    ul {
        list-style: none;
    }
    
    li>a {
        text-decoration: none;
    }
    
    li>a:hover {
        text-decoration: none;
    }
    
    button:hover {
        outline: none;
    }